
.office-member{
  width: 17vw;
  height: 55vh;
  background-color: #1b1d2a;
  margin-bottom: 5vh;
  border: #14191f 0.5vh solid;
  border-radius: 5%;
  position: relative;
  box-shadow: #1b1d2a 1vw 1vh 1vw;

}

.office-member img {
  top: 5%;
  left: 20%;
  position: absolute;
  width: 60%;
  height: 50%;
  background-color:aliceblue ;

}
.office-member h3 {
  top: 55%;
  left: 10%;
  position: absolute;
  width: 65%;
  height: 20%;
  font-size: x-large;
  /* background-color: #5A71FF; */
  display: flex;

  align-items: center;
  /* Centrer verticalement */
  font-family: ministro, 'Courier New', Courier, monospace;
  text-align: left;


}

.office-member h4{
  top: 76%;
  left: 10%;
  position: absolute;
  text-align: left;
  width: 80%;
  height: 7%;
  /* background-color: #5A71FF; */
  display: flex;

  align-items: center;
  /* Centrer verticalement */
  font-family: Kadwa, 'Courier New', Courier, monospace;
  font-size: medium;


}

.office-member p{
  top: 80%;
  left: 80%;
  position: absolute;
  text-align: left;
  font-family: Kadwa, 'Courier New', Courier, monospace;
  font-size: large;

}


