
<main>
  <section id="about-miage-page">
    <div id="wave">

    </div>

    <img [src]="'assets/images/MIAGE_LOGO-SEUL_COULEURS.png'">
    <div id="text-container">
      <h1>Qu’est-ce que la MIAGE ?</h1>
      <p>C’est une formation qui se fait en 3ans de la 3eme année de Licence jusqu’en Master 2 et qui permet l’aquisition d’une
        double compétence. L’acronyme signifie Méthodes Informatiques Appliquées à la Gestion d’Entreprises.
        Le Master MIAGE d’Orléans présente la possibilité de se faire en altérnance sur un an (M1) ou deux (2 années de Master).
        Orléans propose également deux spécfiquations pour le M2 : L’option SIMSA et l’option SIR.</p>
    </div>


  </section>

</main>
