#rename this file 'example.env' to '.env' 
USERNAME=ton_pseudo_pour_la_session_linux
UID=ton_uid
GIT_EMAIL=ton_email_pour@git.here
GIT_NAME=ton_pseudo_git
DB_USERNAME=amigows
DB_PASSWORD=elp4ssword
DB_NAME=amigows