<p>events works!</p>
<hr />
<app-event-search-fields #searchField (search)="search($event)" (keydown.enter)="searchField.onSumbit()" />
<hr />
<!-- le ! apres le nom de la variable eprmet de dire a typescript , tkt c pas undefined -->
<div *ngIf="beNormal()">
  <ol>
    <li *ngFor="let event of events!['hydra:member']">
      {{ event.name }} img: {{ event.img }}
      <!--{{ event.name }} + {{ event.img }}-->
    </li>
  </ol>
  <hr />
  <h3>Event passé</h3>
  <hr />
  <ul>
    @for (event of pastEvents!['hydra:member']; track event.id) {
      @if ($first) {
        <li>\/\/\/&emsp;\/\/\/</li>
      }
      <li>{{ event.name }} img: {{ event.img }}</li>
      @if ($last) {
        <li>/\/\/\&emsp;---&ensp;/\/\/\</li>
      }
    }
  </ul>
</div>

@if (beSearch()) {
  <ul>
    @for (event of events!['hydra:member']; track event.id) {
      <li>{{ event.name }} img: {{ event.img }}</li>
    }
  </ul>
}

<div *ngIf="beLoading()" style="width: 100%; display: flex; flex-direction: row; justify-content: center;">
  <mat-spinner />
</div>
