<div id="offerMain">
  <mat-card id="searchBar">
    <mat-card-content>
      <div id="searchBarIn">
        <app-offer-search-fields #searchField (search)="search($event)" (keydown.enter)="searchField.onSumbit()" />
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="offerCard" *ngFor="let offer of offers['hydra:member']">
    <mat-card-content>
      <div class="offerContent">
        <app-offer-card [offer]="offer" />
      </div>
    </mat-card-content>
  </mat-card>
</div>
