<h2>Formulaire test ?</h2>
<app-offer-search-fields #searchField (search)="search($event)" (keydown.enter)="searchField.onSumbit()" />
<p>Nous avons {{ offers["hydra:totalItems"] }} offre de stage !</p>
<ul>
  <li *ngFor="let offer of offers['hydra:member']">
    <h2>{{ offer.label}}</h2>
    <p>
      By: {{ offer.provider.name }}
    </p>
    <p>
      <!-- Voir pour peu etre mettre un css spécial pour le h1 h2 h... p li ol dans les balises mardown-->
      <markdown [data]="offer.description" />
    </p>
  </li>
</ul>
