#offerMain {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 4rem;
  background-color: #2A2C37;
}

#searchBarIn {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
}

#searchBar {
  margin-bottom: 2rem;
}

mat-card {
  background-color: #1E1E1E;
}
