<section id="about-home-page">
  <div class="side">
    <img [src]="'assets/images/about.jpeg'">
    <div class="button-container">
      <a routerLink="/aboutM" class="button  cursor">MIAGE</a>
      <a routerLink="/office"  class="button  cursor">Amigo</a>
    </div>
  </div>
  <div class="side">
    <h3>Qui sommes nous?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos quod ratione dolorem ab dolore voluptatum ad dolores
      natus maiores libero itaque, repellendus voluptas accusamus sint aliquam provident atque adipisci.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos quod ratione dolorem ab dolore voluptatum ad dolores
      natus maiores libero itaque, repellendus voluptas accusamus sint aliquam provident atque adipisci.</p>
  </div>
</section>

