<section id="about-home-page">
  <div class="side">
    <img ngSrc="assets/images/about.jpeg">
    <div class="button-container">
      <div class="button  cursor">MIAGE</div>
      <div  class="button  cursor">Amigo</div>
    </div>
  </div>
  <div class="side">
    <h3>Qui sommes nous?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos quod ratione dolorem ab dolore voluptatum ad dolores
      natus maiores libero itaque, repellendus voluptas accusamus sint aliquam provident atque adipisci.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos quod ratione dolorem ab dolore voluptatum ad dolores
      natus maiores libero itaque, repellendus voluptas accusamus sint aliquam provident atque adipisci.</p>
  </div>
</section>

