

/* ---------------- */

#about-home-page{
  height: 100vh;
  background-color:#2A2C37 ;
  width: 100%;
  display: flex;
  justify-content: space-around;
}


#about-home-page .side {
  margin-top: 5%;
  height: 80%;
  /* background-color: #5A71FF; */
  width: 40%;

}

#about-home-page img {
  width: 80%;
  height: 50%;
  margin-top: 15%;
  margin-left: 10%;
  border-radius: 0.5rem;
}

#about-home-page .button-container{
  display: flex;
  justify-content: space-around;
  height: 10%;
  width: 80%;
  /* background-color: aqua; */
  margin-top: 10%;
  margin-left: 10%;


}

#about-home-page .button-container .button {
  height: 80%;
  width: 30%;
  background-color: #51535F;
  display: flex;
  font-family: ministro , 'Courier New', Courier, monospace;
  justify-content: center;
  /* Centrer horizontalement */
  align-items: center;
  /* Centrer verticalement */
  border-radius: 0.3rem;

}

#about-home-page h3 {

  display: flex;
  font-family: ministro, 'Courier New', Courier, monospace;
  justify-content: center;
  /* Centrer horizontalement */
  align-items: center;
  /* Centrer verticalement */
  font-size:x-large;
  text-shadow: black 1vw 1vh 0.3vh;
  height: 10%;
  width: 80%;
  margin-top:10%;
  margin-left: 10%;
  /* background-color: aqua; */
}

#about-home-page p {

  /* background-color: rgb(22, 93, 63); */
  height: 50%;
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  font-family: kadwa,'Courier New', Courier, monospace;
  text-align: center;
  font-size: small;
}
