:host {/*pour le component lui même*/
  display: block;
  padding: 2rem;
  background-color: aquamarine;
}

mat-card {
  /*ce que tu veux*/
}

h1, mat-card-title {/* on ne peu pas affecté des compoenent plus haut/parent eg: le h1*/
  color: red;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

mat-card-content {
  color: whitesmoke;
}

.members {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.members > mat-chip {
  flex-grow: 1;
}

mat-divider {
  margin-top: 1rem;
}
