<section id="form-event-page">
  <form>
    <div class="line">
      <div class="text-saisie">
        <label>Recherche d‘Evènements</label>
        <input type="text" placeholder="Ex: Casino" >
      </div>
      <div class="button-container">
        <input type="submit" class="button">
      </div>
    </div>
    <div class="line">
      <p>Trier par :</p>
      <div class="checkbox-container">
        <label>
          <input type="checkbox" name="MXE"> Miage X Entreprise
        </label>
        <label>
          <input type="checkbox" name="date"> Date
        </label>
        <label>
          <input type="checkbox" name="option3"> Option 3
        </label>
      </div>

    </div>
  </form>
</section>
