#form-out {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-inner {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: aliceblue;
  background-color: #1E1E1E;
  text-decoration: none;
  border-radius: 0.5rem;
}

#form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
