<section id="partenaire-entreprise-home-page">
  <h2>Les Partenaire</h2>
  <h4>Entreprise Challenge</h4>
  <div id="partenaire-box">
    <div class="blur">
      <div class="button  cursor">Parcourir</div>
    </div>

  </div>
  <div class="text-container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos quod ratione dolorem ab dolore voluptatum ad dolores
      natus maiores libero itaque, repellendus voluptas accusamus sint aliquam provident atque adipisci</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos quod ratione dolorem ab dolore voluptatum ad dolores
      natus maiores libero itaque, repellendus voluptas accusamus sint aliquam provident atque adipiscia.</p>
  </div>
  <div class="button-container">
    <div class="button  cursor">Consulter les Offres</div>
  </div>



</section>
