<div class="card flex-fill text-white">
    <a href="dashboard.html.twig">
        <div class="card-header">
            {{ entity }}
        </div>
        <div class="card-body inline-flex">
            <div class="d-flex flex-row justify-content-center align-items-baseline gap-3">
                <i class="fas {{ icon }}"></i>
                <p>Aller sur la page des {{ entity }}</p>
            </div>
        </div>
    </a>
</div>