{% extends "@EasyAdmin/page/content.html.twig" %}

{% block page_title %}
    {{ dashboardTitle }}
{% endblock %}

{% block content_title %}
    {{ pageTitle|trans|raw }}
{% endblock %}

{% block content %}
    <main class="d-flex flex-column justify-content-between align-items-center gap-3 mt-3">
        <div class="d-flex w-100 flex-row justify-content-between align-items-center">
            <h1 class="flex-fill">{{ dashboardTitle }}</h1>
            <img src="{{ asset('images/admin_amigo_logo.png') }}" alt="Logo blanc noir de l'AMIGO" height="80px" width="80px"/>
        </div>
        <div>
            test
        </div>
        <h6>Bienvenue sur le panel administrateur du site de l'AMIGO !</h6>
    </main>
{% endblock %}