<div class="entreprise">
  <div class="top">
    <img ngSrc="assets/images/{{this.parther?.company?.img}}">
    <div class="title-container">
      <h2>{{this.parther?.company?.name}}</h2>
      <h3>{{this.parther?.company?.activities}}</h3>
    </div>
  </div>
  <div class="middle">
    <p>{{this.parther?.company?.description}}</p>
  </div>
  <div class="bottom">
    <ul>
      <li><a><img></a></li>
      <li><a><img></a></li>
      <li><a><img></a></li>
    </ul>
    <p>Partenaire de puis : {{this.parther?.bgedDate}}</p>
  </div>

</div>
