<div class="entreprise">
  <div class="top">
    <img [src]="this.partner?.company?.img ? 'assets/images/' + this.partner?.company?.img : 'assets/images/amigo_logo.png '" alt="Image">
    <div class="title-container">
      <h2>{{this.partner?.company?.name}}</h2>
      <h3>{{this.partner?.company?.activities}}</h3>
    </div>
  </div>
  <div class="middle">
    <p>{{this.partner?.company?.description}}</p>
  </div>
  <div class="bottom">
    <ul>
      <li><a><img [src]="'assets/images/linkedIn.svg'"></a></li>
      <li><a><img [src]="'assets/images/instagram.svg'"></a></li>
      <li><a><img [src]="'assets/images/instagram.svg'"></a></li>
    </ul>
    <p>Partenaire de puis : {{this.partner?.bgedDate}}</p>
  </div>

</div>
