 <header>
  <nav>
    <ul id="nav-ul">
      <li class=" cursor"><a routerLink="/acceuil">Accueil</a></li>
      <li class=" cursor"><a routerLink="/event">Evenement</a></li>
      <li class=" cursor"><a routerLink="/about">MIAGE</a></li>
      <li id="logo"><a><img src="../../../../ressources/images/amigo.png"></a></li>
      <li class=" cursor"><a routerLink="/about">AMIGO</a></li>
      <li class="trigger-deroulant  cursor">
        <a routerLink="/partenaire">Partenaire</a>
        <ul class="deroulant">
          <li><a href="#">Challenge</a></li>
          <li><a href="#">Promotionnelle</a></li>
        </ul>
      </li>
      <li class=" cursor"><a routerLink="/offer">Offre</a></li>
    </ul>
  </nav>

</header>
