<header>
  <nav>
    <ul id="nav-ul">
      <div class="nav-ul-side">
        <li class="nav-li">
          <a routerLink="/home">Accueil</a>
          <div class="underline"></div>
        </li>
        <li class="nav-li">
          <a routerLink="/events">Evenements</a>
          <div class="underline"></div>
        </li>
        <li class="nav-li">
          <a routerLink="/aboutM">MIAGE</a>
          <div class="underline"></div>
        </li>
      </div>

      <li id="nav-logo">
        <a id="img-link" routerLink="/testh">
          <img id="logo-img" [src]="'assets/images/amigo_favicon256.png'" />
        </a>
      </li>
      <div class="nav-ul-side">
        <li class="nav-li">
          <a routerLink="/office">AMIGO</a>
          <div class="underline"></div>
        </li>
        <li class="trigger-deroulant nav-li">
          <div>
            <a routerLink="/partenaire">Partenaire</a>
            <ul class="deroulant">
              <li><a routerLink="/partenaireC">Challenge</a></li>
              <li><a routerLink="/partenaireP">Promotionnelle</a></li>
            </ul>
          </div>

        </li>
        <li class="nav-li">
          <a routerLink="/offer">Offre</a>
          <div class="underline"></div>
        </li>
      </div>
    </ul>
  </nav>
</header>
