
header{
  height: 15vh;
  max-height: 20vh;
  background-color: rgb(28, 28, 32);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5
;

}

nav {

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.nav-li,
#nav-logo {
  list-style: none;
}

.nav-li {
  color: aliceblue;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: ministro,'Courier New', Courier, monospace;

  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centrer horizontalement */
  align-items: center;
  position: relative;


}

.nav-ul-side a {
  text-decoration: none;
}

.nav-li:hover .underline{
  top: 0;
  opacity: 1;
}

.underline{
  width: 100%;
  transition: all 0.5s;
  height: 0.3vh;
  background-color: aliceblue;
  position: relative;
  top: 5vh;
  opacity: 0;

}

#nav-ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 1.5rem 2rem;
  gap: 2rem;


}

#nav-logo,
#logo-img {
  width: 150px;
  min-width: 150px;
}

#img-link {
  position: absolute;
}

.nav-ul-side {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  flex-wrap: wrap;


}

.trigger-deroulant {
  flex-direction: column;

}

.trigger-deroulant:hover .deroulant {
  height: 23vh;

}

.deroulant{

  overflow: hidden;
  position: absolute;
  transition: all 1s;
  padding: 0;
  list-style: none;
  background-color: rgb(28, 28, 32);
  width: 180%;
  height: 0vh;
  top: 3vh;
  left: -40%;
  display:flex ;
  flex-direction: column;
  justify-content: space-evenly;
  /* Centrer horizontalement */
  align-items: center;
  /* Centrer verticalement */
}

.trigger-deroulant:hover .deroulant li{
  opacity: 1;
}

.deroulant li{

  width: 90%;
  height: 40%;
  display: flex;
  opacity: 0;
  transition: all 0.2s;

  justify-content: space-around;
  /* Centrer horizontalement */
  align-items: center;
  /* Centrer verticalement */
}
