<section id="event-home-page">
    <div class="side">
      <div id="event-container">

        <div class="socle"></div>

        <img class="poster" [src]="'assets/images/Affiche_sweats_anniversaire.png'">

        <img class="poster" [src]="'assets/images/Blind_test_test1.png'">

        <img class="poster" [src]="'assets/images/Challenge_MIAGE_ENTREPRISES.png'">
        <div class="button  cursor">Consulter les Evenements</div>
      </div>

    </div>
    <div class="side">
      <h3>Nos Evenements</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos quod ratione dolorem ab dolore voluptatum ad
        dolores
        natus maiores libero itaque, repellendus voluptas accusamus sint aliquam provident atque adipisci.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos quod ratione dolorem ab dolore voluptatum ad
        dolores
        natus maiores libero itaque, repellendus voluptas accusamus sint aliquam provident atque adipisci.</p>
    </div>

</section>
