<section id="partenaire-promo-home-page">

  <div class="side">
    <h3>Nos Partenaire Promotionnelle</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos quod ratione dolorem ab dolore voluptatum ad
      dolores
      natus maiores libero itaque, repellendus voluptas accusamus sint aliquam provident atque adipisci.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos quod ratione dolorem ab dolore voluptatum ad
      dolores
      natus maiores libero itaque, repellendus voluptas accusamus sint aliquam provident atque adipisci.</p>
  </div>
  <div class="side">
    <img src="../../../../ressources/images/360_F_600829757_JXhB5PV3x9b0X3GoBb0ZfUm70xgE7Kcq.jpg">
    <div class="button-container">
      <div class="button  cursor">Parcourir</div>
    </div>
  </div>
</section>
