#form-event-page {
  height: 50vh;
  background-color: #2A2C37;
  width: 100%;
  position: relative;
}

#form-event-page form{
  position: absolute;
  top: 15%;
  height: 70%;
  width: 80%;
  background-color: #1E1E1E;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* Centrer horizontalement */
  align-items: center;
  /* Centrer verticalement */
  color: aliceblue;
  text-decoration: none;
}

#form-event-page form .line{
  /* background-color: aqua; */

  max-height: 29%;
  overflow: hidden;
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-family: kadwa, 'Courier New', Courier, monospace;



  text-align: center;


}


#form-event-page form .line mat-form-field{

  vertical-align: middle;
  width: 30%;
  display: inline-block

}

#form-event-page form .line div {
  width: 20%;
  height: 100%;
  display: flex;
  font-family: ministro, 'Courier New', Courier, monospace;
  justify-content: center;
  /* Centrer horizontalement */
  align-items: center;
  /* Centrer verticalement */

}


button{
  margin-top: 4.5%;
  width: 90%;
  display: flex;
  font-family: ministro, 'Courier New', Courier, monospace;
  justify-content: center;
  /* Centrer horizontalement */

}




