<section id="about-amigo-page">
  <div id="wave">

  </div>
  <div id="text-container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos quod ratione dolorem ab dolore voluptatum ad dolores
      natus maiores libero itaque, repellendus voluptas accusamus sint aliquam provident atque adipisci.</p>
    <h1>AMIGO</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos quod ratione dolorem ab dolore voluptatum ad dolores
      natus maiores libero itaque, repellendus voluptas accusamus sint aliquam provident atque adipisci.</p>
  </div>
</section>
