{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content_title %}
    {{ pageTitle|trans|raw }}
{% endblock %}

{% block content %}
    <h1> Bonjour sur la page d'accueil de l'administration </h1>
{% endblock %}