
/* ---------------- */


footer{
  background-color: rgb(28, 28, 32);
  height: 40vh;
  max-height: 40vh;
  width: 100%;
  background-image: url("../../../../assets/images/footer.jpg");
  background-size:contain;
  background-repeat: no-repeat;
  box-shadow: inset rgb(28, 28, 32) -80vw 0 5vw;
}

footer #container-footer {


  width: 70%;
  height: 100%;
  margin-left: 30%;
  display: flex;
  justify-content: space-around;



}

footer #container-footer div{

  height: 90%;
  width: 25%;
  text-align: center;
  margin-top: 3vh;

}

#admin{
  height: 9vh;
  width: 9vh;
  background-size: 90%;
  background-image: url("../../../../assets/images/admin_amigo_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5vh;
  transition: all 0.5s;
}

#admin:hover{
  background-size: 100%;
}





footer li {
  list-style: none;
  margin-top: 5%;
  font-family: kadwa ,Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

footer .ul-title{
  font-family: ministro,'Courier New', Courier, monospace;
  font-size: 1.5rem;
  margin-bottom: 2rem;

}

footer #reseaux{
  display: flex;
  justify-content: space-around;

}

footer ul{
  padding: 0;

}

footer img{
  height: 7vh;
  width: 7vh;
}
