<footer>
  <div id="container-footer">
    <div>
      <h4 class="ul-title"> Nos Reseaux</h4>
      <ul id="reseaux">
        <li><a class="cursor"><img [src]="'assets/images/instagram.svg'" alt="Instagram"></a></li>
        <li><a class="cursor"><img [src]="'assets/images/discord.svg'" alt="Discord"></a></li>
        <li><a class="cursor"><img [src]="'assets/images/linkedIn.svg'" alt="LinkedIn"></a></li>
      </ul>
      <h4 class="ul-title">Position</h4>
      <button mat-raised-button (click)="showLocAMIGO()">Où somme nous</button>
    </div>

    <div>
      <h4 class="ul-title"> Nous Contactez</h4>
      <ul>
        <li>Château de la Source, 45100 Orléans, France</li>
        <li>06 30 45 36 72</li>
        <li>amigobde&#64;gmail.com</li>
      </ul>
    </div>


    <div>
      <h4 class="ul-title">Documents Officiels</h4>
      <ul>
        <li><a class=" cursor">Mentions légales</a></li>
        <li><a class=" cursor">Statuts de l’association</a></li>
        <li><a class=" cursor">Règlement intérieur</a></li>
      </ul>
    </div>

    <a id="admin" [href]="environment.adminURL"></a>
  </div>
</footer>
